@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62, 5%; /* Pour aue 1rem = 10px au lieu de 1rem=16px , cela rend les calculs simple */
}

body {
  box-sizing: border-box;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
